<div class="wrapper">
  <%= render "shared/header" %>
  <div class="content">
    <div class="main-user">
      <h1>ユーザー登録</h1>
      <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="form-wrap">
        <table class="table_design">
          <tbody>
            <tr>
              <th><div class="table-label">メールアドレス<span class="indispensable">必須</span></div></th>
              <td><%= f.email_field :email, class:"input-default", autofocus: true %></td>
            </tr>
            <tr>
              <th><div class="table-label">パスワード<span class="indispensable">必須</span></div></th>
              <td><%= f.password_field :password, class:"input-default", placeholder:"6文字以上の半角英数字" %></td>
            </tr>
            <tr>
              <th><div class="table-label">パスワード(確認)<span class="indispensable">必須</span></div></th>
              <td><%= f.password_field :password_confirmation, class:"input-default", placeholder:"同じパスワードを入力" %></td>
            </tr>
            <tr>
              <th><div class="table-label">社員番号<span class="indispensable">必須</span></div></th>
              <td><%= f.text_field :employee_number, class:"input-default" %></td>
            </tr>
            <tr>
              <th><div class="table-label">氏名(姓)<span class="indispensable">必須</span></div></th>
              <td><%= f.text_field :last_name, class:"input-default" %></td>
            </tr>
            <tr>
              <th><div class="table-label">氏名(名)<span class="indispensable">必須</span></div></th>
              <td><%= f.text_field :first_name, class:"input-default" %></td>
            </tr>
            <tr>
              <th><div class="table-label">所属部署<span class="indispensable">必須</span></div></th>
              <td><%= f.text_field :department, class:"input-default" %></td>
            </tr>
            <tr>
              <th><div class="table-label">権限付与<span class="indispensable">必須</span></div></th>
              <td><%= f.text_field :role, class:"input-default" %></td>
            </tr>
          </tbody>
        </table>

        <div class='register-btn'>
          <%= f.submit "ユーザー登録", class: "btn btn-success btn-lg" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>