<div class="wrapper">
  <%= render "shared/header" %>
  <div class="content">
    <%= render "shared/sidebar" %>
    <div class="main">
      <h1><%= current_user.last_name + " " + current_user.first_name + " " %>さんのマイページ</h1>
      <div class="table-main">
        <div class="chart-profile">
        <table class="table-profile">
          <tbody>
            <tr>
              <th>社員番号</th>
              <td><%= current_user.employee_number %></td>
            </tr>
            <tr>
              <th>所属部署</th>
              <td><%= current_user.department %></td>
            </tr>
            <tr>
              <th>ユーザー権限</th>
              <td><%= current_user.role %></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>


      <div class="table-main">
        <div class="table-title">
          <% if current_user.role == "管理者" %>
            <%= "▶ 管理対象一覧" %>
          <% elsif current_user.role == "点検者" %>
            <%= "▶ 点検対象一覧" %>
          <% end %>
        </div> 
        <div class="chart">
          <table class="table table-hover">
            <thead class="table-primary">
              <tr>
                <th>管理番号</th>
                <th>計測器名</th>
                <th>管理者</th>
                <th>点検者</th>
                <th>最終点検日</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <% @instruments.each do |instrument| %>
                <tr>
                  <td><%= link_to instrument.management_number, instrument_path(instrument.id) %></td>
                  <td><%= instrument.name %></td>
                  <td><%= instrument.admin.last_name %> <%= instrument.admin.first_name %></td>
                  <td><%= instrument.inspector.last_name %> <%= instrument.inspector.first_name %></td>
                  <td><%= instrument.last_inspected_at.present? ? l(instrument.last_inspected_at, format: "%Y年%m月%d日") : '未点検' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>