<header>
  <h1><%= link_to 'UNiFY', root_path %></h1>
  <div class="user-info">
    <% if user_signed_in? %>
      <%= link_to "#{current_user.last_name + " " + current_user.first_name}", "#", class: "user-name" %>
      <%= "｜" %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: "login" %>
      <%= "｜" %>
      <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
    <% end %>
  </div>
</header>