<div class="wrapper">
  <%= render "shared/header" %>
  <div class="content">
    <%= render "shared/sidebar" %>
    <div class="main">
      <h1>予約カレンダー</h1>
      <div class="table-main">
        <div class="reservation-form">
          <%= form_with model: @reservation, local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
            <div class="reservation-parts">
              <%= f.label :instrument_id, "計測器名：" %>
              <%= f.collection_select :instrument_id, Instrument.all, :id, :name, prompt: "計測器を選択" %>
            </div>
            <div class="reservation-parts">
              <%= f.label :start_time, "開始時間：" %>
              <%= f.datetime_field :start_time %>
            </div>
            <div class="reservation-parts">
              <%= f.label :end_time, "終了時間：" %>
              <%= f.datetime_field :end_time %>
            </div>
            <div>
              <%= f.submit "予約する", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="table-main">
        <div class="chart-inspection">
          <%= month_calendar events: @reservations do |date, reservations| %>
            <%= date %>
            <% reservations.each do |reservation| %>
              <div class="events">
                <%= link_to "・ " + reservation.instrument.name, reservation_path(reservation) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>
