<%= render "shared/header" %>
<div class="content-login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="back-login">
      <div class="login-container">
        <h2>ログイン</h2>
        <div class="form-group">
          <label for="username">メールアドレス</label><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
        </div>
        <div class="form-group">
          <label for="password">パスワード</label><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input-field" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class: "actions-btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
