<div class="wrapper">
  <%= render "shared/header" %>
  <div class="content">
    <%= render "shared/sidebar" %>
    <div class="main">
      <h1>トップページ</h1>

      <div class="search-form">
        <%= form_with url: instruments_path, method: :get, local: true do %>
          <div class="search-form-group">
            <%= label_tag :admin_name, "管理者名：" %>
            <%= text_field_tag :admin_name, params[:admin_name], placeholder: "管理者名を入力" %>
          </div>
          <div class="search-form-group">
            <%= label_tag :inspector_name, "点検者名：" %>
            <%= text_field_tag :inspector_name, params[:inspector_name], placeholder: "点検者名を入力" %>
          </div>
          <%= submit_tag "検索", class: "btn btn-primary" %>
          <%= link_to "クリア", instruments_path, class: "btn btn-secondary" %>
        <% end %>
      </div>
      
      <div class="table-main">
        <div class="table-title">▼ 計測器一覧</div> 
        <div class="chart">
          <table class="table table-hover">
            <thead class="table-primary">
              <tr>
                <th>管理番号</th>
                <th>計測器名</th>
                <th>管理者</th>
                <th>点検者</th>
                <th>最終点検日</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <% @instruments.each do |instrument| %>
                <tr>
                  <td><%= link_to instrument.management_number, instrument_path(instrument.id) %></td>
                  <td><%= instrument.name %></td>
                  <td><%= instrument.admin.last_name %> <%= instrument.admin.first_name %></td>
                  <td><%= instrument.inspector.last_name %> <%= instrument.inspector.first_name %></td>
                  <td><%= instrument.last_inspected_at.present? ? l(instrument.last_inspected_at, format: "%Y年%m月%d日") : '未点検' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
