<div class="wrapper">
  <%= render "shared/header" %>
  <div class="content">
    <%= render "shared/sidebar" %>
    <div class="main">
      <div class="form-header">
        <h1 class='form-header-text'>計測器新規登録</h1>
      </div>
      
      <%= form_with model: @instrument, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="form-wrap">
        <table class="table_design">
          <tbody>
            <tr>
              <th>管理者</th>
              <td>
                <%= text_field_tag :admin_employee_number_field, current_user.employee_number, readonly: true, class: "input-number" %>
                <%= text_field_tag :admin_name_field, "#{current_user.last_name + " " + current_user.first_name}", readonly: true, class:"input-default" %>
              </td>
            </tr>
            <tr>
              <th>
                <div class="table-label">
                  点検者<span class="indispensable">必須</span>
                </div>
              </th>
              <td>
                <%= text_field_tag :inspector_employee_number_field, params[:inspector_employee_number_field], readonly: true, class: "input-number" %>
                <%= text_field_tag :inspector_name_field, params[:inspector_name_field], readonly: true, class:"input-default" %>
                <button type="button" id="search_inspector_button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inspectorModal">検索</button>
              </td>
            </tr>
            <tr>
              <th>
                <div class="table-label">
                  管理番号<span class="indispensable">必須</span>
                </div>
              </th>
              <td>
                <%= f.text_field :management_number, class:"input-default", id:"management-number" %>
              </td>
            </tr>
            <tr>
              <th>
                <div class="table-label">
                  計測器名<span class="indispensable">必須</span>
                </div>
              </th>
              <td>
              <%= f.text_field :name, class:"input-default", id:"name" %>
              </td>
            </tr>
            <tr>
              <th>メーカー</th>
              <td>
                <%= f.text_field :manufacturer, class:"input-default", id:"manufacturer" %>
              </td>
            </tr>
            <tr>
              <th>型式</th>
              <td>
                <%= f.text_field :model, class:"input-default", id:"model" %>
              </td>
            </tr>
            <tr>
              <th>製造番号</th>
              <td>
                <%= f.text_field :serial_number, class:"input-default", id:"serial-number" %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class='register-btn'>
          <%= f.submit "新規登録", class:"btn btn-success btn-lg" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- モーダルウィンドウ -->
<div class="modal fade" id="inspectorModal" tabindex="-1" aria-labelledby="inspectorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inspectorModalLabel">点検者を選択</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>社員番号</th>
              <th>姓</th>
              <th>名</th>
              <th>所属部署</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="inspector_list">
            <!-- ユーザー一覧を表示 -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>