<h1>計測器詳細</h1>
<div class="instrument-show">
  <div class="instrument-box">
    <div class="created_date">
      登録日： <%= l @instrument.created_at %>
    </div>
    <div class="updated_date">
      更新日： <%= l @instrument.updated_at %>
    </div>
  </div>

  <table class="table_design">
    <tbody>
      <tr>
        <th>管理番号</th>
        <td><%= @instrument.management_number %></td>
        <th>管理者</th>
        <td><%= @instrument.admin.last_name + " " + @instrument.admin.first_name %></td>
      </tr>
      <tr>
        <th>計測器名</th>
        <td><%= @instrument.name %></td>
        <th>点検者</th>
        <td><%= @instrument.inspector.last_name + " " + @instrument.inspector.first_name %></td>
      </tr>
      <tr>
        <th>メーカー</th>
        <td><%= @instrument.manufacturer %></td>
        <th>点検日</th>
        <td><%= @instrument.last_inspected_at ? l(@instrument.last_inspected_at) : '未点検' %></td>
      </tr>
      <tr>
        <th>型式</th>
        <td><%= @instrument.model %></td>
      </tr>
      <tr>
        <th>製造番号</th>
        <td><%= @instrument.serial_number %></td>
      </tr>
    </tbody>
  </table>
</div>

<h2>点検項目一覧</h2>
<%= form_with model: [@instrument, @inspection_item], local: true do |f| %>
  <div class="mb-3">
    <%= f.label :item, "点検項目", class: "form-label" %>
    <%= f.text_field :item, placeholder: "点検項目を入力", class: "form-control" %>
  </div>
  <%= f.submit "点検項目を追加", class: "btn btn-primary mb-4" %>
<% end %>

<div class="mb-3">
  <%= link_to "点検", new_instrument_inspection_result_path(@instrument.id), class: "btn btn-warning" %>
  <%= link_to "点検履歴", instrument_inspection_results_path(@instrument.id), class: "btn btn-info" %>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table-info">
      <tr>
        <th>No.</th>
        <th>点検内容</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @instrument.inspection_items.reload.each_with_index do |item, index| %>
        <tr>
          <td class="item-number"><%= index + 1 %></td>
          <td><%= item.item %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
